@use "../../../../utils/partialStyles/_pxToRem.scss" as *;

.pageForm {
  padding: rem(20);
  border: rem(1) solid var(--fg);
  border-radius: rem(8);
  background-color: var(--surface);
}

.pageForm button:disabled {
  background-color: var(--fg);
  cursor: not-allowed;
}

