@use "../../../utils/partialStyles/_pxToRem.scss" as *;

.sidebar{
  width: rem(70);
  height: 100vh;
  background: var(--surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);
  padding: rem(20) rem(7);
  border-right: rem(2) solid var(--fg);
}

.sidebar svg{
  width: rem(35);
  height: rem(35);
}

.projectSelector svg{
  width: rem(21);
  height: rem(21);
  fill: var(--primary);
}

.projectSelector{
  width: rem(35);
  height: rem(35);
  display: flex;
  flex-direction: column;
  background: var(--fg);
  align-items: center;
  justify-content: center;
}

.expanded .projectSelector{
  height: fit-content;
}

.selectorContainer{
  display: flex;
  flex-direction: column;
}

.projectSelector{
  border-radius: rem(7) rem(7) 0 0;

}

.expand{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary);
  border-radius: 0 0 rem(7) rem(7);
  cursor: pointer;
}

.avatarContainer {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: rem(3);
  cursor: pointer;
}

.avatarImage {
  width: rem(25);
  height: rem(25);
  border-radius: rem(100);
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
  background: var(--fg);
}

.avatarImage:hover {
  transform: scale(1.1);
}


.expand svg{
  width: rem(18);
  height: rem(12);
  fill: var(--bg);
  transition: transform 0.3s ease;
}

.expanded .expand svg{
  transform: rotate(180deg);
}

.bottomPaths{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-self: flex-end;
  margin-top: auto;
}

.side{
  display: flex;
}